<title>Artist</title>


  <body>

    <div class="container">
      <%- include('partials/header') %>

      <div class= "jumbotron">
        <% albums.forEach(function(album){
          var songArr = []
          var songCount = songs.forEach(function(songCount) {
            for (i = 0; i < songs.length; i++) {
              if (songCount.album_id === album.id){
                songArr.push(songCount[i])
                console.log(songArr)
                return songArr
              }
          }
          })
          var artist = artists.find(function(artist) {
            return artist.id === album.artist_id
          })
          %>
        <div>
          <%= albums.title %>
          <%= albums.year %>
          <p><a href="../artists/<%= artist.id %>"><%= artist.name %></a></p>
          <p>Number of songs: <%= songArr.length %></p>
        </div>
        <% }) %>
      </div>

    </div>
  </body>

</html>
