<title>Artist</title>


  <body>

    <div class="container">
      <%- include('layout/header') %>

      <div class= "jumbotron">
        <% album.forEach(function(album, i){
          var artist = artists.find(function(artist) {
            return artist.id === album.artist_id
          })
        %>
        <div>
          <h1><%= album.title %></h1>
          <h2><%= album.year %></h2>
          <p><a href="../artists/<%= artist.id %>"><%= artist.name %></a></p>
          <p>Number of songs: <%= songCount %></p>
          <% }) %>
        </div>
      </div>

    </div>
  </body>

</html>
